.navbar {
    background-image: linear-gradient(to right, #870000, #190a05);
}

.bg {
    background-image: linear-gradient(to right, #870000, #190a05);
}

body {
    background-image: linear-gradient(to right, #190a05, #870000);
}













